.create-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
}

input{
    padding-left: 1rem;
}

textarea {
    padding-left: 1rem;
    padding-top: 1rem;
}


#heading {
    text-align: center;
    font-size: 2rem;
}

 #title {
    width: 60vw;
    border: none;
    height: 5vh;
}

#content {
    width: 60vw;
}

.create-blog button {
    background: linear-gradient(to right, #3470AE , #493D5D);
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
}