/* Navbar Styling */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.navbar a {
    color: black;
}

.author-name {
    font-weight: bold;
    font-size: 1.7rem;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar .nav-links li {
    padding-bottom: 5px;
    border-bottom: 1px solid transparent; 
     
}

.navbar .nav-links li a {
    text-decoration: none;
    color: black; 
}

.navbar .nav-links li a:hover {
    color: gray;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.navbar .show-nav-btn {
    position: absolute;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.navbar .hide-nav-btn {
    display: none;
}


.intro {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.intro img {
    border-radius: 50%;
    height: 450px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.intro #firstLine {
    font-size: 2rem;
    color: gray;
    text-align: center;
}

.intro #my-name {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.intro #role {
    color: gray;
    font-size: 1.8rem;
    text-align: center;
}

.intro .contact-btns {
    text-align: center;
}

.intro #primary-btn{
    padding: 1rem;
    border-radius: 50px;
    width: 130px;
    border: none;
    outline: none;
    margin-right: 1rem;
    background-color: #fff;
    border: 1.5px solid rgb(53, 53, 53);
    color: black;
    font-weight: bold;
    margin-top: 1rem;
}

.intro #primary-btn:hover {
    background-color: rgb(53, 53, 53);
    color: #fff;
    border: 1.5px solid transparent;
    transition: 0.3s all ease-in-out;
}

.intro #secondary-btn{
    padding: 1rem;
    border-radius: 50px;
    width: 130px;
    border: none;
    outline: none;
    margin-right: 1rem;
    border: 1.5px solid rgb(53, 53, 53);
    background-color: rgb(53, 53, 53);
    color: #fff;
    font-weight: bold;
    margin-top: 1rem;
}

.intro #secondary-btn:hover {
    background-color: black;
}

.waviy {
    position: relative;
}

.waviy span {
    position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

.intro .social-links {
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.section-head {
    text-align: center;
    margin: 3rem auto;
}

.about-section {
    display: flex;
    justify-content: center;
    gap: 4rem;
    height: 70vh;
}

.section-head h5 {
    font-size: 1.3rem;
    color: gray;
    font-weight: normal;
}

.section-head h3 {
    font-size: 3rem;
}

.about-section img {
    width: 450px;
    height: 450px;
    border-radius: 2rem;
}

.exp-box {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.experience {
    border: 1px solid gray;
    padding: 1rem;
    width: 14rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.about-me {
    width: 32rem;
    margin-top: 2rem;
    color: gray;
    font-size: 1.2rem;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.projects .project-card {
    width: 35vw;
    height: 80vh;
    border: 2px solid gray;
    border-radius: 2rem;
}

.project-card .project-head {
    width: 25vw;
    height: 50vh;
    border: 1px solid gray;
    margin: 30px auto;
    border-radius: 1rem;
}

.project-card .project-body {
    text-align: center;
}

.project-body button {
    padding: 1rem;
    border-radius: 50px;
    width: 130px;
    border: none;
    outline: none;
    margin-right: 1rem;
    background-color: #fff;
    border: 1.5px solid rgb(53, 53, 53);
    color: black;
    font-weight: bold;
    margin-top: 1rem;
    font-weight: bold;
}

.project-body button:hover {
    background-color: rgb(53, 53, 53);
    color: #fff;
    border: 1.5px solid transparent;
    transition: 0.3s all ease-in-out;
}

/* Contact me styling */

.contact-links {
    width: 35vw;
    height: 15vh;
    border: 1px solid black;
    border-radius: 2rem;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    margin: 20px auto;
}

.footer-links ul {
    margin-top: 60px;
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 1.5rem;
    justify-content: center;
    font-weight: bold;
    
}

.footer-links ul li {
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
}

.footer-links ul li:hover {
    color: gray;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
}

.copyright-text {
    text-align: center;
    margin: 40px 0;
    color: gray;
    font-weight: bold;
}


/* Experience component styling */

.exp-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 80vh;
    align-items: center;
}

.exp-cat-1 {
    width: 35vw;
    height: 50vh;
    border: 1px solid gray;
    padding: 25px;
    border-radius: 2rem;
}

.exp-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.exp-badge {
    font-size: 1.5rem;
    margin-right: 30px;
}

.exp-skill {
    font-weight: bold;
}

.exp-level {
    font-weight: normal;
}

.grid-item {
    margin: 20px auto;
    display: flex;
    justify-content: flex-start;
    text-align: start;
    width: 100%;
}


.animate {
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  }
  
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }



  /* media query */

  @media (max-width: 972px) {
    .intro img {
        height: 300px;
        width: 300px;
    }

    .intro #firstLine {
        font-size: 1.2rem;
    }

    .intro #my-name {
        font-size: 2rem;
    }
    .intro #role {
        font-size: 1.3rem;
    }

    .about-section img {
        height: 300px;
        width: 300px;
    }

    .experience {
        width: 10rem;
        height: 8rem;
        font-size: 12px;
    }

    .about-me {
        font-size: 1rem;
    }

    .exp-cat-1 {
        width: 40vw;
        height: 40vh;
    }

    .exp-badge {
        font-size: .75rem;
        margin-right: 5px;
    }

    .projects .project-card {
        width: 35vw;
        height: 70vh;
    }

    .project-card .project-head {
        width: 25vw;
        height: 40vh;
    }

    .contact-links {
        width: 30vw;
        display: block;
        font-size: 1rem;
    }

  }
